.canela-thin-italic {
  font-family: "CanelaThinItalic";
}

.canela-light {
  font-family: "CanelaLightItalic";
}

.grayscale-filter {
  position: relative;
  background-size: cover;
  opacity: 0.85;
}

.grayscale-filter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 18%;
  opacity: 0.5;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.divider {
  margin-top: 7%;
}

.menu:hover {
  text-decoration: none !important;
}

.heading .menu .values{
  display: block;
  transition:0.5s;
}

.heading:hover .menu .values{
  opacity:0.3;
}

.heading .menu .values:hover{
  transform:scale(1.5);
  opacity:1;
  color: rgb(82, 63, 87);
  cursor: pointer;
}

/* .text-layer { // text looks cool with this effect lol
  mix-blend-mode: exclusion;
  color: white;
} */

.circle {
  position: relative;
  margin: 0 83%;
  width: 9vw;
  height: 7vh;
  display: flex;
  align-items: center;
  margin-top: 1%;
  scale: 0;
}

.circle span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 38% 62% 63% 37%;
  transition: 0.5s;
  animation: animate 3s linear infinite;
}

.circle span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate 5s linear infinite;
}

.circle span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate 10s linear infinite;
}

.circle::before{
  content: "learn more!";
  color: rgb(255, 255, 255);
  font-size: 3vh;
  font-family: "CanelaThin";
  margin-left: 10%;
}

.circle:hover {
  cursor: pointer;
}

 @keyframes animate {
  0% {
      transform: rotate(0)
  }
  40% {
    transform: rotate(4deg)
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.container {
    position: relative;
    height: 15vh;
    overflow: hidden;
    margin-top: 0.5%;
}

.slider-up {
    animation: slide-up 20s ease infinite;
}

@keyframes slide-up {
    0%, 10% {
        transform: translateY(0);
    }
    10%, 20% {
        transform: translateY(-10%);
    }
    20%, 30% {
        transform: translateY(-20%);
    }
    30%, 40% {
        transform: translateY(-30%);
    }
    40%, 50% {
        transform: translateY(-40%);
    }
    50%, 60% {
        transform: translateY(-50%);
    }
    60%, 70% {
        transform: translateY(-60%);
    }
    70%, 80% {
        transform: translateY(-70%);
    }
    80%, 90% {
        transform: translateY(-80%);
    }
    100%{
        transform: translateY(-90%);
    }
}

/* gsap */

.blurb {
opacity: 0;
transform: translateY(60px)
}

.heading {
  transform: translateY(-20px);
  opacity: 0;
}

.watermark {
  transform: translateY(-20px);
  opacity: 0;
}

.hero-text {
  transform: translateY(30px);
  opacity: 0;
}

.hours {
  transform: translateY(30px);
  opacity: 0;
}

.minutes {
  transform: translateY(30px);
  opacity: 0;
}

.time-text {
  transform: translateX(30px);
  opacity: 0;
}