

.canela-thin-italic {
  font-family: "CanelaThinItalic";
}

.canela-light {
  font-family: "CanelaLightItalic";
}

.grayscale-filter {
  position: relative;
  background-size: cover;
  opacity: 0.85;
}

.grayscale-filter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 18%;
  opacity: 0.5;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.divider {
  margin-top: 7%;
}

.menu:hover {
  text-decoration: none !important;
}

.heading .menu .values{
  display: block;
  transition:0.5s;
}

.heading:hover .menu .values{
  opacity:0.3;
}

.heading .menu .values:hover{
  transform:scale(1.5);
  opacity:1;
  color: rgb(82, 63, 87);
  cursor: pointer;
}